/********** Template CSS **********/
:root {
  --primary: #9900ff;
  --secondary: #e2009e;
  --light: #f2f2f2;
  --dark: #131010;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101311; /* Change the background color of the page here */
}

.navbar {
  background-color: #0a0a0a !important; /* Change the background color of the header area here */
}

.navbar .navbar-brand {
  color: #ffffff;
}

.navbar .navbar-nav .nav-link {
  color: #ffffff !important; /* Change the background color of the header area and navigation bar here */
}

.navbar .navbar-nav .nav-link:hover {
  color: #9900ff !important; /* Change the text color of links when hovering here */
}

.fw-medium {
  font-weight: 600 !important;
}

.loginbutton {
  position: 5;
  top: 100px;
  right: 500px;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}

/*** Invite bot ***/

#hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.invitebutton {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 28px;
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 8px rgb(255, 255, 255);
  color: var(--primary);
  background-color: rgb(255, 255, 255);
}

.invitebutton:hover {
  color: var(--primary);
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(226, 226, 226);
  box-shadow: 2px 2px 8px rgb(226, 226, 226);
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #9900ff;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 768px) {
  #header-carousel .carousel-item {
    position: relative;
    min-height: 450px;
  }

  #header-carousel .carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.page-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(0, 0, 0, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

/*** Team ***/
.team-item .team-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  transform: scale(0);
  transition: 0.5s;
}

.team-item:hover .team-overlay {
  transform: scale(1);
}

.team-item .team-overlay .btn {
  color: var(--primary);
  background: #ffffff;
}

.team-item .team-overlay .btn:hover {
  color: #ffffff;
  background: var(--secondary);
}

/*** Footer ***/
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/* 2*/
.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.card {
  display: flex;
  height: 70px;
  width: 270px;
}

.card svg {
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card .social-link1,
.card .social-link2,
.card .social-link3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #00bceb;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background: #d400ff;
  background: -moz-linear-gradient(
    45deg,
    #780091 0%,
    #b500c5 25%,
    #d700eb 50%,
    #ff00ea 75%,
    #ff00b3 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #780091 0%,
    #b500c5 25%,
    #d700eb 50%,
    #ff00dd 75%,
    #ff00b3 100%
  );
  background: linear-gradient(
    45deg,
    #780091 0%,
    #b500c5 25%,
    #d700eb 50%,
    #ff00dd 75%,
    #ff00b3 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d400ff', endColorstr='#ff00b3',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Gtranslate */

#google_translate_element {
  margin: auto;
  display: block;
  text-align: center;
}

.goog-te-combo {
  background-color: black !important;
}

/* Styles for the news image */
.news-image {
  width: 100%; 
  max-width: 500px;
  height: auto;  
  display: block; 
  margin: 0 auto; 
}

/* Additional styles for mobile screens */
@media screen and (max-width: 767px) {
  .news-image {
    max-width: 100%; 
  }
}

/*Cookies wrapper*/

.cookies-wrap {
  display: none;
  background: white;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 320px;
  line-height: 150%;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  padding-top: 60px;
  box-shadow: 0px 2px 20px 10px grey;
  text-align: center;
}

.cookies-wrap.active {
  display: block;
}

.cookies-wrap .title,
.cookies-wrap .paragraph {
  margin-bottom: 15px;
}

.cookies-wrap .btn {
  width: 100%;
  background: #9900ff;
  border: none;
  color: white;
  text-align: center;
  padding: 15px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3 ease all;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

.cookies-wrap .btn:hover {
  background: #6602a8;
}

.cookies-wrap .link-cookies {
  color: #9900ff;
  text-decoration: none;
  font-size: 14px;
}

.cookies-wrap .link-cookies:hover {
  color: #6602a8;
  text-decoration: underline;
}

.background-cookies-wrap {
  display: none;
  background: var(--dark);
  position: fixed;
  z-index: 99;
  width: 100vw;
  top: 0;
  left: 0;
}

.background-cookies-wrap.active {
  display: block;
}

/*Additional Fields create ticket*/

.formticket {
  width: 100%;
  max-width: 800px;
  padding: 80px;
  box-sizing: border-box;
}

.formticket label {
  color: white;
}

.formticket input,
.formticket textarea,
.formticket select {
  width: 60%;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 8px; 
  padding: 5px;  
}

/* Icons for table tickets */

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-button svg {
  width: 22px; 
  height: auto;
}

